h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
form {
    justify-content: space-between;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}
.form-group {
    display: flex;
    flex-flow: row wrap;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.table {
    width: 75%
}
th {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #1abc9c;
    color: white;
}
#book-list {
    border-bottom: 1px solid #ddd;
}
#book-list:hover {
    background-color: rgb(145, 225, 228);
}

