h1 {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    justify-content: space-between;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-group {
    display: flex;
    flex-flow: row wrap;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.table {
    width: 75%
}
th {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #1abc9c;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#book-list {
    border-bottom: 1px solid #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#book-list:hover {
    background-color: rgb(145, 225, 228);
}

.container1 {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1abc9c;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#location {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}
.desc {
    font-size: 1.25rem;
    text-transform: capitalize;
    color: white;
}
.circle {
    background-color: white;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
}
.finish-reading {
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.countdown {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.day, 
.hour, 
.minute, 
.second {
    font-size: 2.5rem;
    justify-content: space-around;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
h3 {
    margin-right: 10px;
    margin-left: 10px;
}